@use 'sass:color';
@use 'variables' as *;

/*==========================================*/
/*=========== Mobile Styling ===============*/
/*==========================================*/
@media (max-width: $mobile) {
  .main-navigation {
    flex-direction: column;
    padding: 20px;

    .menu {
      flex-direction: column;
      margin-top: 20px;

      li {
        margin-right: 0;
        margin-bottom: 15px;

        a {
          font-size: 16px;
        }
      }

      .site-logo {
        max-height: 80px;
        margin-bottom: 20px;
      }
    }
  }
}

/*==========================================*/
/*========== Tablet  Styling ===============*/
/*==========================================*/
@media (min-width: $tablet) and (max-width: $desktop - 1) {

}

/*==========================================*/
/*========== Desktop  Styling ==============*/
/*==========================================*/
@media (min-width: $desktop) and (max-width: $large-desktop - 1) {

}

/*==========================================*/
/*======== Large Desktop  Styling ==========*/
/*==========================================*/
@media (min-width: $large-desktop) and (max-width: $ultra-wide - 1) {

}

/*==========================================*/
/*=========== Ultra wide  Styling ==========*/
/*==========================================*/
@media (min-width: $ultra-wide) {

}